.idea/
.gradle/
build/
out/
.idea_modules/
*.class
*.log
*.jar
*.zip
*.tar.gz
*.rar
hs_err_pid*
.DS_Store
.AppleDouble
.LSOverride
.metadata
bin/
tmp/
*.tmd
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
*.lnk
!gradle/wrapper/gradle-wrapper.jar

run_client/
run_data/
run_server/
src/generated/

